*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    height: 100vh;
    width: 100%;
    overflow-x:hidden;
}

nav{
    background-color: black;
    color: white;
    display:flex;
    align-items: center;
    justify-content: space-around;
    height:15vh;
    width: 100%;
}
.nav-container {
    flex:3;
}
ul{
    margin-left: 75%;
    display:flex;
    justify-content: space-evenly;
    text-decoration: none;
    list-style: none;

}
.list {
    cursor: pointer;
}

ul li a {
    text-decoration: none;
    color: white;
}
ul li:hover{
    color: white;
}
.logo-container {
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

input{
    width: 60%;
    padding: 15px;
}
.searchbar {
    padding: 50px;
    text-align: center;
}
.anime1{
    padding: 20px;
}
.anime2{
    padding: 20px;
}
.anime3{
    padding: 20px;
}
.anime4{
    padding: 20px;
}
.anime5{
    padding: 20px;
}
.anime6{
    padding: 20px;
}
p{
    padding-bottom: 20px;
    padding-top: 10px;
}
h4{
    padding: 50px;
    font-style: italic;
}
.contact{
    background-color: black;
    color: white;
    padding: 30;
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
nav a{
    text-decoration:none
}
nav a:hover{
    color: white;
    cursor: pointer;
}

